<div class="container-fluid">
  <h3 style="margin-left: 27px">GIỎ HÀNG</h3>
  <div class="col-12">
    <div class="col-9">
      <div>
        <table class="table">
          <tr>
            <th>Tên sách</th>
            <th class="a">Đơn giá</th>
            <th class="a">Số lượng</th>
            <th class="a">Thành tiền</th>
            <th>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                   viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
            </th>
          </tr>
          <tr *ngFor="let book of cartItems">
            <td><img [src]="book.img" width="250px" height="250px">{{book.name}}</td>
            <td>{{book.price}}</td>
            <td>
              <button class="btn btn-outline-dark" (click)="decreaseQuantity(book)">-</button>
              <input class="btn btn-outline-dark" style="width: 50px" type="tel" value="{{book.quantity}}">
              <!--            <span>{{book.quantity}}</span>-->
              <button class="btn btn-outline-dark" (click)="increaseQuantity(book)">+</button>
            </td>
            <td> {{book.quantity * book.price}}</td>
            <td>
              <button class="btn " (click)="deleteBook(book)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                     viewBox="0 0 16 16">
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-3">
      <div>
        <h5>Giao toi: Nguyen Van A | 0973439239</h5>
      </div>
      <div>
        <p>Tam tinh: {{totalPrice}}</p>
      </div>
      <div id="myPaypalButtons"></div>
    </div>
  </div>
</div>

